<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WoFlagship.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <WoFlagship.Properties.Settings>
            <setting name="ProxyType" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>NoProxy</string>
                        <string>HTTP</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ProxyHost" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="ProxyPort" serializeAs="String">
                <value>8099</value>
            </setting>
        </WoFlagship.Properties.Settings>
    </userSettings>
</configuration>
